body {
  background-image: url("pokercloth.png");
  margin-left: 20px;
  margin-top: 10px;
}
h2 {
  color: white;
}
img {
  position: absolute;
  margin-top: -10px;
  margin-left: -20px;
  height: 100%;
  width: 100%;
  z-index: -1000;
  opacity:0.1;
}
.video {
  position: absolute;
  margin-top: 560px;
}
.card {
  float: left;
  background-color: white;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}
